<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
<div data-role="navbar" id="nav">
  <center>
    <a data-role="none" class="ui-link ui-block-a ui-btn" href="/login" ><img src="/images/krunchy.png" width="150px" height="auto"></a>
  </center>
  <ul style="float:right;"><a href="/logout"><li>Logout</li></a></ul>
</div>
