<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
<div data-role="navbar" id="nav">
  <center>
    <img src="/images/krunchy.png" width="150px" height="auto">
  </center>
  <ul style="float:right;"><a href="/logout"><li>Logout</li></a></ul>
</div>
