#login{
  overflow:hidden;
}
#login #content{
  width:30%;
  align:center;
  text-align:center;
  margin:10% auto;
  background-color: white;
  border-radius:15px;
  padding:50px;
}
#login #content img{
  height:auto;
  width:60%;
  padding-bottom:20px;
}

#errorBox{
  display:hidden;
}

#login .ui-page {
  background-color:#001f3f;
  overflow: hidden;
}
