#managerContent{
  text-align: center;
}

#managerContent .column{
  display:inline-block;
  background-color:white;
  border-radius:10px;
  margin: 0 5px;
  width: 30%;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#managerContent table{
  width:100%;
  font-size: 1.2rem;
  padding: 10px;
}
#managerContent table td{
  padding: 5px 0 5px 0;
  text-align-last: center; 
}

#managerContent table td::after{

}
