body {
  padding: 50px;
  font-family: Varela Round, verdana;
  text-shadow: none !important;
}

a {
  color: #00B7FF;
}

.submitButton{
  background-color: #001f3f !important;
  color:white !important;
  margin-bottom:0;
  padding:30px;

}
